prune mtspec/src/data/*
prune mtspec/src/developing/*
prune mtspec/src/doc/*
prune mtspec/src/examples/*
prune mtspec/src/license/*
prune mtspec/src/Makefile
prune mtspec/src/makefiles/*
prune mtspec/src/Makefile.win
prune mtspec/src/matlab/*
prune mtspec/src/plot/*
prune mtspec/src/programs/*
prune mtspec/src/README
include mtspec/src/src/*
include mtspec/VERSION.txt
include mtspec/tests/data/*
